*{ 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black ; 
    background-color: cornsilk;
    box-sizing: border-box;
    margin: 1vw 8vw 3vw;
}

.contain {
    width: 78vw;
    min-height: 80vh;
    position: relative;
}

a {
    text-decoration: none !important;
    color : hotpink;
    padding: 0 3vw;
}

p {
    font-size: 0.8vw;
    margin: 3vw 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: 2.3vw;
    margin: 2vw 8vw ;
}

img {
    max-width: 40vw;
}

/* --------------- NAV --------------- */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav a {
    font-size: 1.2vw;
    margin: 1vw 2vw;
}

.cochon img {
    width: 8vw;
    height: 5vw;
}

/* --------------- FORM --------------- */
form {
    margin: 0 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    width: 70vw;
}

input {
    width: 25vw;
    padding: 0.7vw;
    margin: 0 0 1vw;
    font-size: 0.8vw;
}

select {
    width: 25vw;
    padding: 0.7vw;
    margin: 1vw 0;
    font-size: 0.8vw;
}

.desc {
    height: 15vh;
    width: 25vw;
    padding: 0.7vw;
    margin: 0 0 1vw;
    font-size: 0.8vw;
}

.submit {
    min-height: 7vh;
    width: 15vw;
    border: none;
    font-size: 1vw;
    margin: 1vh 0;
    padding: 0.5vw 2vw;
    border-radius: 0.3vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 105, 180);
    color: white ;
    transition: 0.1s ease-in-out;
}

.submit:hover {
    background-color: rgb(255, 135, 200);
}

.formulaire {
    display: flex;
    flex-direction: row;    
}

.partie1,
.partie2 {
    width: 30vw;
    display: flex;
    flex-direction: column; 
    margin: 0 5vw;
}

/* --------------- ELEMENTS --------------- */
.all {
    display: flex;
    flex-wrap: wrap;
}

.one {
    margin: 2vw;
    padding: 1vw;
    border: 2px solid black;
    width: calc(20vw - 4px);
    border-radius: 0.3vw;
}

.titre_element {
    display: flex;
    justify-content: center;
}

.titre_element a {
    padding : 0 ; 
}


/* --------------- ONE ELEMENT --------------- */
.one_element {
    display: flex;
    flex-direction: row;
    padding: 3vw 0;
}

.one_infos {
    width: 50%;
    height: 50vh;
}

.one_infos h3 {
    font-size: 1.7vw;
    color: rgb(255, 105, 180);
}

.one_infos p {
    font-size: 1vw;
    padding-right: 5vw;
}

.one_image {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.one_image img{
    min-width: 15vw;
}

/* --------------- INDEX --------------- */

.index{
    display: flex ; 
    flex-direction: row;
    width: 78vw;
    min-height: 75vh;
}

.cochon_play{
    width: 50%;
    position : relative ; 
}

.cochon_infos{
    height: 90%;
    position: absolute;
    top: 5vh;
    left: 5vw;
}

.submit_play{
    width: 10vw;
    position: absolute;
    bottom : 20vh; 
    left: 2.5vw;
    font-size: 3vw;
    text-align: center;
    min-height: 8vh;
}

.submit_play:hover{
    transform: scale(1.1);
}

.connect{
    background-color: transparent;
    color: #ff69b4; 
    font-size: 0.8vw;
}

.connect:hover{
    background-color: transparent;
    color: rgb(255, 135, 200); 
    font-size: 0.85vw;
}